@charset "utf-8";
/* CSS Document */

.body{
	background-color:#99FFFF;
	}
	
.img {
    float: left;
    margin: 0 0 10px 10px;
}

.img1 {
    float: right;
    margin: 0 0 10px 10px;
}

.style{
	font-family:Georgia, Times New Roman, Times, serif;
	font-style:normal;
	}
	
	